.profile-photo {
	width: 12.5em;
	height: 12.5em;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url(../dan-padmore.jpg) no-repeat;
	background-size:100%;
	border: 0.2em solid #fff;
	}

 img.topic-photo {
	width: 6em;
	height: 6em;
 }

 span.topic-photo {
	 font-size: 6em;
	 color: #333;
 }

 .topic-photo:hover {
	 opacity: 0.5;
 }

body {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(19, 78, 94), rgb(113, 178, 128)) repeat scroll 0% 0%;
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
}

adress {
	color: #71b280;
}

.card {
	color: #134e5e;
}

.heading {
	margin-left: 1em;
}

.lead {
	margin-top: 1.5em;
	padding-left: 0.5em;
}

.chatbot {
	min-height: 450px;
}